*{ 
    background-color: rgb(207, 190, 168);
    padding: 0px;
    margin: 0px;
}
.header{
    padding: 30px;
    text-align: center;
    background: white;
    font-style: oblique;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header h1{

    font-size: 60px;
    text-align: center;
}
ul{
    list-style-type: none;
}
li{
    float:left;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
li a:hover {
    background-color: #111;
  }

i{
    margin: 10px;
    background-color: #9c0583;
}

img{
    height: 350px;
    width:250px;
    border-radius: 50px;
}
.column{
    float: left;
  width: 33.65%;
  padding: 60px;
  background-color: #437007;
}
.row::after {
    content: "";
    display:block;
    clear: both;
  }
p::first-letter{
    color: blue;
}
p {
    background-color: #4b0505;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
h2 {
    color: rgb(241, 80, 16);
    background-color: #9c0583;
}
.footer{
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      
}